previewsEnabled: true
previewsExpireAfterDays: 1
services:
  - type: web
    runtime: node
    previewPlan: starter
    name: tiween-admin-dashboard-app
    plan: standard
    region: frankfurt
    buildCommand: npm install && npm run build
    startCommand: npm run start
    healthCheckPath: /_health
    branch: develop
    envVars:
      - key: NODE_ENV
        value: production
      - key: IMAGE_KIT_PUBLIC_KEY
        sync: false
        # value: public_/WxWzg8xq8JvIqM0E4vVMNFr5Pk=
        
      - key: IMAGE_KIT_PRIVATE_KEY
        sync: false
        # value: private_I9GkInBCLKy/h7hSfcNQAJKkeTs=
        
      - key: IMAGE_KIT_URL_ENDPOINT
        sync: false
        # value: https://ik.imagekit.io/bc2xslzyt/tiween-development
        
      - key: IMAGE_KIT_DIRECTORY
        sync: false
        # value: /development/images
        
      - key: DATABASE_URL
        fromDatabase:
          name: tiween-admin-dashboard-database
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: ADMIN_JWT_SECRET
        generateValue: true
      - key: APP_KEYS
        generateValue: true
      - key: API_TOKEN_SALT
        generateValue: true
      - key: SENTRY_DSN
        sync: false
databases:
  - name: tiween-admin-dashboard-database
    plan: standard
    region: frankfurt
    previewPlan: starter
